{{#if photo}}
  <form class="modal-form">
    <div class="form-group photo-icon-cont">
      {{render 'userIcon' photo.owner}}
      <div class="photo-owner-name">{{photo.owner.name}}</div>
      <div class="photo-owner-username">{{photo.owner.username}}</div>
    </div>
    <div class="form-group">
      {{#form-label error=errors.name label=(ts 'photo.description')}}{{/form-label}}
      {{view "form-text-area" value=photo.description classBinding=":form-line :description-field isDescriptionEdit::view-only" focus-out="saveDescription" focus-in="focusDescription"}}
    </div>
    <div class="form-group">
      {{#form-label error=errors.name label=(ts 'photo.date')}}{{/form-label}}
      {{#fuzzy-date date=photo.backdated_time complete="saveDate" focus-in="focusDate" classBinding="isDateEdit::hidden" registerAs=fuzzyDate}}{{/fuzzy-date}}
      {{input value=photo.backdated_time.prettyDate on="focus-in" action="editDate" classBinding=":form-line :view-only isDateEdit:hidden"}}
    </div>
    <div class="form-group">
      {{#form-label error=errors.name label=(ts 'photo.location')}}{{/form-label}}
      {{#location-search selected=photo.location action="saveLocation" classBinding="isLocationEdit::hidden" registerAs=locationSearch}}{{/location-search}}
      {{input value=photo.location.name on="focus-in" action="editLocation" classBinding=":form-line :view-only isLocationEdit:hidden"}}
    </div>
  </form>
{{/if}}
