<div class="photo-sidebar">
  <form class="modal-form">
    <div class="form-group photo-icon-cont">
      {{render 'userIcon' photo.owner}}
      <div class="photo-owner-name">{{photo.owner.name}}</div>
      <div class="photo-owner-username">{{photo.owner.username}}</div>
    </div>
    <div class="form-group">
      {{#form-label error=errors.name label=(ts 'photo.description')}}{{/form-label}}
      {{textarea value=photo.description classBinding=":form-line :description-field isDescriptionEdit::view-only" focus-out="saveDescription" focus-in="focusDescription"}}
    </div>
    <div class="form-group">
      {{#form-label error=errors.name label=(ts 'photo.date')}}{{/form-label}}
      {{input value=photo.date classBinding=":form-line" }}
    </div>
  </form>
</div>
