<div {{bind-attr class="hidden isOpenMode:open-mode"}}>
  {{input classNameBindings=":form-line :search"}}
</div>
{{input classNameBindings="hidden::hidden :form-line" value=selected.name disabled=true}}
<div class="search-selected-items">
  {{#each tag in selected}}{{!--
--}}<div class="tag">{{tag}}<div class="remove" {{action "remove" tag}}>&#x00D7;</div></div>{{!--
--}}{{/each}}
</div>