<div class="new-post-filler"></div>
<div class="new-post">
  <div class="new-post-post">
    {{#if view.hasPhotosOrAlbums}}
      <div class="new-post-photos">
        {{#each photo in newPostPhotos}}{{render 'thumbPhoto' photo unselectable=true removable=true}}{{/each}}
        {{#if newPostAlbum}}
          {{render 'thumbAlbum' newPostAlbum unselectable=true removable=true}}
        {{/if}}
      </div>
    {{/if}}
    {{textarea placeholder=(ts 'post.prompt') value=newPostMessage classBinding=":newPostMessage view.hasPhotosOrAlbums:has-photos"}}
    <div class="new-post-footer">
      <div class="left">
        <a href="javascript:void();" {{action 'addPhotos'}} {{bind-attr class="addPhotosDisabled:disabled :link-button"}}><span class="add-moments-icon"></span>{{t 'post.addPhotos'}}</a>
        <a href="javascript:void();" {{action 'addAlbum'}} {{bind-attr class="addAlbumDisabled:disabled :link-button :with-l-border"}}><span class="add-album-icon"></span>{{t 'post.addAlbum'}}</a>
      </div>
      <div class="right">
        <a href="javascript:void();" {{action 'create'}} {{bind-attr class="postDisabled:disabled :link-button :with-l-border :take-action waiting"}}>{{t 'post.doPost'}}</a>
      </div>
    </div>
  </div>
</div>
