<div {{bind-attr class=":albums-container"}}>
  <div {{bind-attr class=":nav-filler isSelectionMode::collapsed"}}></div>
  {{#if isSelectionMode}}
    <div class="selection-toolbar">
      <div class="right">
        <button class="secondary delete" {{action 'deleteAlbums'}}></button>
        <button class="secondary" {{action 'cancel'}}>{{t 'cancel'}}</button>
      </div>
    </div>
  {{/if}}

{{!-- The HTML comments below are to ensure no accidental spaces between inline-block elements --}}
  <div class="create-new-album" {{action 'create'}}>
    <span class="caption">{{t 'albums.create'}}</span>
  </div>{{!--
--}}{{#each}}<!--
   -->{{#link-to 'albumPhotos' id}}{{render 'thumbAlbum' this enlargeDisabled=false}}{{/link-to}}<!--
-->{{/each}}

  {{partial 'spinner'}}
</div>