{{#modal-dialog action="close"}}
  <div class="album-picker">
    <div class="top-bar">
      <h3>{{t 'photos.addToAlbum'}}</h3>
    </div>
    <div class="bottom-bar">
      <div class="right">
        <button class="secondary" {{action 'close'}}>{{t 'cancel'}}</button>
        <button class="take-action" {{action 'complete'}}>{{t 'add'}}</button>
      </div>
    </div>
    <div class="nav-filler"></div>

    <div class="picker-content">
      {{#each albums}}<div {{bind-attr class=":album :photo selected"}} {{action select id}}>
        {{#if cover_photo}}
          <img {{bind-attr src=cover_photo.mediumVersion}} alt="">
        {{/if}}
        <div {{bind-attr class=":select selected"}}></div>
        <div class="title">{{name}}</div>
        <div class="count">{{t "photos.count" countBinding="photo_count"}}</div>
      </div>{{/each}}
    </div>
  </div>
{{/modal-dialog}}