<div class="album-photos-container">
  <div class="toolbar">
    <h3>{{#link-to 'albums'}}Albums{{/link-to}} <span class="crumb-divider">&gt;</span> {{albumName}}</h3>
  </div>
  {{#if isSelectionMode}}
    <div class="selection-toolbar">
      <div class="left">
        <div class="num-selected">
          <span class="count-text">{{t "photos.selected" countBinding="selectedCount"}}</span>
        </div>
        <button class="take-action">Share</button>
        <button class="secondary" {{action 'addToAlbum' selectedIds}}>Album</button>
      </div>
      <div class="right">
        <button class="secondary" {{action 'removePhotos'}}>{{t 'albums.remove'}}</button>
        <button class="secondary" {{action 'cancel'}}>{{t 'cancel'}}</button>
      </div>
    </div>
  {{/if}}

  {{outlet}}

  {{#each}}{{render 'thumbPhoto' this}}{{/each}}

  {{partial 'spinner'}}
</div>