{{#modal-dialog action="close"}}
  <div class="album-picker">
    <div class="top-bar">
      <h3>{{t 'photos.addToAlbum'}}</h3>
    </div>
    <div class="bottom-bar">
      <div class="right">
        <button class="secondary" {{action 'close'}}>{{t 'cancel'}}</button>
        <button class="take-action" {{action 'complete'}}>{{t 'add'}}</button>
      </div>
    </div>
    <div class="nav-filler"></div>

    <div class="picker-content">
      {{#each albums}}{{render 'thumbAlbum' this enlargeDisabled=true}}{{/each}}
    </div>
    {{!-- <div class="nav-filler"></div> --}}
  </div>
{{/modal-dialog}}