<div class="album-photos-container">
  <div class="toolbar">
    <div class="left">
      <h3>{{#link-to 'albums'}}Albums{{/link-to}} <span class="crumb-divider">&gt;</span> {{albumName}}</h3>
    </div>
    <div class="right">
      <div class="settings-container">
        <button class="secondary icon-only settings-icon" {{action 'toggleSettingsMenu'}}></button>
        {{#if showSettingsMenu}}
          <ul class="triangle-border top">
            <li {{action 'enterChangeCoverMode'}}>{{t 'albums.changeCover'}}</li>
            <li {{action 'deleteAlbum'}}>{{t 'albums.delete'}}</li>
          </ul>
        {{/if}}
      </div>
      <button class="secondary-action with-icon large right" {{action 'addPhotos'}}><span class="add-photos-icon icon"></span>{{t 'photos'}}</button>
    </div>
  </div>

  {{#if showCcToolbar}}
    <div {{bind-attr class=":change-cover-toolbar removingCcToolbar:removing"}}>
      <div class="left">
        {{!-- FIXME: num-selected makes no sense as a class name here --}}
        <div class="num-selected">
          <span class="count-text">{{t 'albums.changeCover'}}</span>
        </div>
      </div>
      <div class="right">
        <button class="take-action" {{action 'saveCoverPhoto'}} {{bind-attr disabled=noneSelected}}>{{t 'save'}}</button>
        <button class="secondary" {{action 'cancelChangeCover'}}>{{t 'cancel'}}</button>
      </div>
    </div>

  {{else}}
    {{#if removingCcToolbar}}
    {{else}}
      {{#if showToolbar}}
        <div {{bind-attr class=":selection-toolbar removingToolbar:removing"}}>
          <div class="left">
            <div class="num-selected">
              <span class="count-text">{{t "photos.selected" countBinding="selectedCount"}}</span>
            </div>
            {{partial 'shareButton'}}
          </div>
          <div class="right">
            <button class="secondary" {{action 'removePhotos'}}>{{t 'albums.remove'}}</button>
            <button class="secondary" {{action 'cancel'}}>{{t 'cancel'}}</button>
          </div>
        </div>
      {{/if}}
    {{/if}}
  {{/if}}

  {{outlet}}

  {{#each}}{{render 'thumbPhoto' this}}{{/each}}

  {{partial 'spinner'}}
</div>