
<div class="row collapse">
  <div class="large-10 columns">
    {{input value=name classNameBindings="error.name:error"}}
    {{#if error.name}}
      {{#each error.name}}
        <small class="error">{{this}}</small>
      {{/each}}
    {{/if}}
  </div>
  <div class="large-2 columns">
    <a class="button postfix" {{action 'create'}}>Create</a>
  </div>
</div>

{{#each}}
  {{#link-to 'albumPhotos' id}}
    <div class="album" {{bind-attr style=style}}>
      <span>{{name}}</span>
    </div>
  {{/link-to}}
{{/each}}

{{#if loadingMore}}
<div class="spinner"></div>
{{else}}
<div class="spinner-placeholder"></div>
{{/if}}
