{{!-- TODO: split out nav bar into its own controller/template via render helper
--}}
<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1>Heirloom</h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      {{#if isLoggedIn}}
        <li>{{#link-to 'photos'}}{{t 'photos'}}{{/link-to}}</li>
        <li>{{#link-to 'albums'}}{{t 'albums'}}{{/link-to}}</li>
        <li>{{#link-to 'upload'}}{{t 'upload'}}{{/link-to}}</li>
        <li><a href="javascript:void();" {{action 'signout'}}>{{t 'signout'}}</a></li>
        <li><a href="javascript:void();">{{userFullName}}</a></li>
      {{else}}
        <li>{{#link-to 'signin'}}{{t 'signin'}}{{/link-to}}</li>
        <li>{{#link-to 'registration'}}{{t 'signup'}}{{/link-to}}</li>
      {{/if}}
    </ul>
  </section>
</nav>

{{outlet}}