{{#modal-dialog action="close"}}
  {{!-- TODO: reduce copypasta between this and albumPicker.hbs
  --}}
  <div class="settings-modal">
    <div class="top-bar">
      <h3>{{t 'changePassword.title'}}</h3>
    </div>

    <form class="modal-form">
      <div class="form-group">
        <label>{{t 'changePassword.old'}}</label>
        {{input type="password" value=user.name classBinding=":form-line error.login:error :login" }}
      </div>
      <div class="form-group">
        <label>{{t 'changePassword.new'}}</label>
        {{input type="password" value=user.email classBinding=":form-line error.login:error :login" }}
      </div>
      <div class="form-group">
        <label>{{t 'changePassword.new2'}}</label>
        {{input type="password" value=user.username classBinding=":form-line error.login:error :login" }}
      </div>
    </form>

    <div class="bottom-bar">
      <div class="right">
        <button class="secondary" {{action 'close'}}>{{t 'cancel'}}</button>
        <button {{bind-attr class=":take-action waiting"}} {{bind-attr disabled=disableSave}} {{action 'save'}}>{{t 'settings.changePasswordButton'}}</button>
      </div>
    </div>
  </div>
{{/modal-dialog}}