<div class="post-photos">
{{#each photos}}<div class="post-photo" {{action enlarge id}}><img {{bind-attr src=mediumVersion}} alt=""></div>{{/each}}
</div>
<div class="post-body">
  <div class="icon"><span>{{owner.initials}}</span></div>
  <div class="post-author">{{owner.name}}</div>
  <div class="post-time">{{fromNow valueBinding="created_at"}}</div>
  {{#if message}}
  <div class="post-text">
    {{multiline message}}
  </div>
  {{/if}}
</div>
