{{#if isLoggedIn}}
  {{#if isAndroidOrIos}}
    <div class="wizard-container intro-bg">
      <div class="wizard">
        <div class="wizard-main">
          {{#if justSignedIn}}
            <p><span class="name">{{t 'invitation.cta.signInComplete'}}</span></p>
          {{/if}}
          {{#if justSignedUp}}
            <p><span class="name">{{t 'invitation.cta.signUpComplete'}}</span></p>
          {{/if}}
          <p>{{t 'invitation.cta.downloadPlug'}}</p>
          {{#if isIos}}
            <a {{bind-attr href=iosStoreLink}}><div class="app-store"></div></a>
          {{/if}}
          {{#if isAndroid}}
            <a {{bind-attr href=androidStoreLink}}><div class="play-store"></div></a>
          {{/if}}
          <p>{{t 'invitation.cta.desktopPlug'}}</p>
        </div>
        <div class="wizard-tag">{{t 'signin.learnMore'}}</div>
      </div>
    </div>
  {{/if}}
{{else}}
  <div class="wizard-container intro-bg">
    <div class="wizard">
      {{partial 'inviteHeader'}}
      <div class="wizard-main">
        <div class="icon"><span>{{initials}}</span></div>
        <p><span class="name">{{invitee}}</span>{{t 'invitation.body'}}</p>
        <p>{{t 'invitation.instruction'}}</p>
      </div>
      <div class="wizard-button-filler"></div>
      <div class="wizard-buttons">
        <button {{action 'signIn'}}>{{t 'signin'}}</button><button {{action 'signUp'}}>{{t 'signup'}}</button>
      </div>
      <div class="wizard-tag">{{t 'signin.learnMore'}}</div>
    </div>
  </div>
{{/if}}