<div class="convo-members">
  {{#each participants}}
    <div class="icon" {{bind-attr title=name}} {{bind-attr alt=name}}>
      <span>{{initials}}</span>
    </div>
  {{/each}}
</div>

{{#each}}
  {{render 'conversationPost' this}}
{{/each}}

{{partial 'spinner'}}
{{render 'conversations/newPost' conversation.model}}
{{outlet}}