<div class="col-container">
  <div class="left-col">
    <div class="settings">
      <button class="take-action" {{action 'create'}}>Create New Group</button>
    </div>
    {{#each}}
      {{#link-to 'conversationPosts' id}}
        <div class="convo">
          <div class="icon"><span>{{owner.initials}}</span></div>
          <div class="details">
            <div class="names">{{name}}</div>
            <div class="sub">{{t "conversation.members" countBinding="member_count"}}</div>
          </div>
        </div>
      {{/link-to}}
    {{/each}}

    {{partial 'spinner'}}
  </div>

  <div class="main-col">
      {{outlet}}
  </div>

</div>
