{{input placeholder=(ts 'post.prompt') value=newPostMessage class="temp newPostMessage"}}
<button {{action 'openModal' 'photoPicker'}}>Add Photo</button>

{{#each photo in newPostPhotos}}
  <div class="thumb-photo">
    <img {{bind-attr src=photo.thumbVersion}}>
  </div>
{{/each}}

{{#each}}
  {{render 'conversationPost' this}}
{{/each}}

{{partial 'spinner'}}