<div class="post-photos">
{{#each photo in fullPhotos}}
  <div class="post-photo" {{action 'enlarge' photo.id}}>
    <img {{bind-attr src=photo.mediumVersion}} alt="">
  </div>
{{/each}}
{{#if hasMosaic}}
  <div {{bind-attr class=":post-photo mosaicClass"}} {{action 'enlarge' mosaicPhotos.0.id}}>
    {{#each photo in mosaicPhotos}}
      <img {{bind-attr src=photo.mediumVersion}} alt="">
    {{/each}}
  </div>
{{/if}}
</div>
<div class="post-body">
  {{render 'userIcon' owner}}
  <div class="post-author">{{owner.name}}</div>
  <div class="post-time">{{fromNow valueBinding="created_at"}}</div>
  {{#if message}}
  <div class="post-text">
    {{multiline message}}
  </div>
  {{/if}}
</div>
