<div class="post-photos">
{{#each photos}}<div class="post-photo"><img {{bind-attr src=mediumVersion}}></div>{{/each}}
</div>
<div class="post-body">
  <div class="icon"><span>{{owner.initials}}</span></div>
  <div class="post-author">{{owner.name}}</div>
  <div class="post-time">{{fromNow valueBinding="created_at"}}</div>
  <div class="post-text">
    {{multiline message}}
  </div>
</div>
