<div class="convo-members">
  {{#each participant in participants}}
    {{render 'userIcon' participant}}
  {{/each}}
</div>

{{#each post in this}}
  {{render 'conversationPost' post}}
{{/each}}

{{partial 'spinner'}}
{{render 'conversations/newPost' conversation.model}}
{{outlet}}