<div class="convo-members">
  {{#each participants}}
    {{render 'userIcon' this}}
  {{/each}}
</div>

{{#each}}
  {{render 'conversationPost' this}}
{{/each}}

{{partial 'spinner'}}
{{render 'conversations/newPost' conversation.model}}
{{outlet}}