{{#if isLoggedIn}}
  <div class="wizard-container intro-bg">
    <div class="wizard">
      <div class="wizard-main">
        {{#if isInvalid}}
          <p>{{t 'invitation.invalid'}}</p>
        {{else}}
          {{#if isAndroidOrIos}}
            {{#if justSignedIn}}
              <p><span class="name">{{t 'invitation.cta.signInComplete'}}</span></p>
            {{/if}}
            {{#if justSignedUp}}
              <p><span class="name">{{t 'invitation.cta.signUpComplete'}}</span></p>
            {{/if}}
            <p>{{t 'invitation.cta.downloadPlug'}}</p>
            {{render 'smartBadge'}}
            <p>{{t 'invitation.cta.desktopPlug'}}</p>
          {{/if}}
        {{/if}}
      </div>
      <div class="wizard-tag">{{t 'signin.learnMore'}}</div>
    </div>
  </div>
{{else}}
  <div class="wizard-container intro-bg">
    <div class="wizard">
      {{partial 'inviteHeader'}}
      <div class="wizard-main">
        <div class="icon"><span>{{initials}}</span></div>
        <p><span class="name">{{invitee}}</span>{{t 'invitation.body'}}</p>
        <p>{{t 'invitation.instruction'}}</p>
      </div>
      <div class="wizard-button-filler"></div>
      <div class="wizard-buttons">
        <button {{action 'signIn'}}>{{t 'signin'}}</button><button {{action 'signUp'}}>{{t 'signup'}}</button>
      </div>
      <div class="wizard-tag">{{t 'signin.learnMore'}}</div>
    </div>
  </div>
{{/if}}