<div class="wizard-container intro-bg full-screen-mob">
  <div class="wizard">
    <div class="wizard-main">
      {{#if isSuccessful}}
        <p>{{t 'forgotPassword.success'}}</p>
      {{else}}
        <p>{{t 'forgotPassword.message'}}</p>

        {{partial 'formErrors'}}

        <div>
          {{input type="email" value=email placeholder=(ts 'signup.email')}}
        </div>

        <div>
          <button {{action 'sendEmail' bubbles=false}} class="signin take-action form-btn" {{bind-attr disabled=submitDisabled}}>{{t 'forgotPassword.submit'}}</button>
        </div>
      {{/if}}
    </div>
  </div>
</div>