<div class="hp-intro">
  <a name="intro"></a>
  <video autoplay loop preload="auto" poster="https://www-heirloom-production-herokuapp-com.global.ssl.fastly.net/images/video_placeholder_loading_small.jpg">
    <source src="https://d1g8wumrh1onzl.cloudfront.net/media/HLM_Long_Loop_422_h264_4mb_faststart_2.mp4" type="video/mp4">
    <div class="img-cont">
      <img src="/images/video_placeholder_web.jpg" title="">
    </div>
  </video>
  <div class="overlay">
  </div>

  <div class="flex-height-cont">
    <div class="top-nav">
      <div class="hp-logo-cont">
        <div class="hp-logo"></div>
      </div>

      <div class="hp-tag-cont">
        <div class="hp-tag">
          {{#link-to 'signin'}}<span>{{t 'signin'}}</span>{{/link-to}}
        </div>
        <div class="hp-break"></div>

        <div class="hp-action">
          {{#link-to 'registration'}}<span class="hp-notify hp-larger">{{t 'signup'}}</span>{{/link-to}}
        </div>
      </div>
    </div>

    <div class="hp-copy">
      <h1>For all the moments we love. Now available.</h1>
    </div>

    <div class="hp-center">
      <a href="javascript:void(0);" {{action 'showVideo'}}><span class="hp-play"></span></a>
    </div>

    <div class="hp-bottom">
      <a href="#product"><span class="hp-next"></span></a>
    </div>
  </div>
</div>

<div class="hp-product">
  <a name="product"></a>
  <div class="flex-height-cont">
    <div class="right-section">
      <div class="hp-phone-copy">
        <h2>Fast, beautiful photo scanning</h2>

        <p class="description">
Heirloom enables you to easily and beautifully digitize your paper photos. With the help of your smartphone camera, you can experience the joy of sharing these moments with friends and family. Our free app is the fastest way to capture, organize, and privately share treasured photos.
        </p>
        <p>{{render 'iosBadge'}}{{render 'androidBadge'}}</p>
      </div>
    </div>

    <div class="left-section">
      <div class="hp-phone-cont">
        <div class="hp-phone"></div>
      </div>
    </div>

    <div class="hp-bottom">
      <a href="#story"><span class="hp-next-blk"></span></a>
    </div>

  </div>
</div>

<div class="hp-story">
  <a name="story"></a>
  <div class="hp-section-top">
    <h2>Discover the past</h2>
    <p class="description">Heirloom joined Andrew on his trip to Zakynthos, Greece. There he spent some time finding pieces of his past.</p>
    <p class="description">Watch the Video</p>
  </div>
  <div class="hp-center">
    <a href="javascript:void(0);" {{action 'showStoryVideo'}}><span class="hp-play"></span></a>
  </div>
  <div class="hp-bottom">
    <a href="#footer"><span class="hp-next"></span></a>
  </div>
</div>

<div class="hp-footer">
  <a name="footer"></a>
  <div class="hp-footer-links">
    <a href="mailto:hello@heirloom.net"><h4>{{t 'contact'}}</h4></a>
    <a href="/jobs"><h4>{{t 'jobs'}}</h4></a>
    <a href="/webFaq"><h4>{{t 'faq'}}</h4></a>
    <a href="/press"><h4>{{t 'press'}}</h4></a>
    <a href="http://heirloomblog.tumblr.com/"><h4>{{t 'blog'}}</h4></a>
  </div>

  <div class="hp-footer-social">
    <a href="https://www.facebook.com/heirloomhq" target="_blank"><span class="hp-fb-dark"></span></a>
    <a href="https://www.twitter.com/heirloomhq" target="_blank"><span class="hp-twitter-dark"></span></a>
    <a href="http://www.instagram.com/heirloomhq" target="_blank"><span class="hp-instagram-dark"></span></a>
  </div>

  <div class="hp-copyright">
    <span>Copyright &copy; 2014 <a href="mailto:hello@heirloom.net" target="_blank">Say Hello!</a></span>
  </div>
  <a href="#intro"><div class="hp-footer-logo"></div></a>
</div>
{{#if showVideo}}
  <div class="hp-lightbox" {{action 'hideVideo'}}>
    <div class="video-cont-cont">
      <div class="video-cont">
        <div class="hp-height-filler"></div>
  <iframe src="//www.youtube.com/embed/zrGh1kg_vV4?autoplay=1&rel=0" scrolling="auto" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"  id="widget2"></iframe>
      </div>
    </div>
  </div>
  <div class="exit-video" {{action 'hideVideo'}}></div>
{{/if}}
{{#if showStoryVideo}}
  <div class="hp-lightbox" {{action 'hideVideo'}}>
    <div class="video-cont-cont">
      <div class="video-cont">
        <div class="hp-height-filler"></div>
  <iframe src="//www.youtube.com/embed/cOi9EEqE_JU?autoplay=1&rel=0" scrolling="auto" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"  id="widget2"></iframe>
      </div>
    </div>
  </div>
  <div class="exit-video" {{action 'hideVideo'}}></div>
{{/if}}
<iframe style="display:none" name="hidden-form" id="hidden-form"></iframe>
