<nav class="full-nav">
  {{#if isLoggedIn}}
    <ul>
      {{#link-to 'photoGroupings'}}<div class="logo"></div>{{/link-to}}
      {{#if groupsEnabled}}
        {{#link-to 'conversations' tagName='li' class='conversations'}}{{#link-to 'conversations'}}{{t 'conversations'}}{{/link-to}}{{/link-to}}
      {{/if}}
      {{#link-to 'albums' tagName='li' class='albums'}}{{#link-to 'albums'}}{{t 'albums'}}{{/link-to}}{{/link-to}}
      {{#link-to 'photoGroupings' tagName='li' class='photos'}}{{#link-to 'photoGroupings'}}{{t 'moments'}}{{/link-to}}{{/link-to}}
    </ul>

    <div class="user-dropdown">
      <div class="icon"></div>
      <div class="menu">
        <div class="username"><span>{{username}}</span></div>
        <div class="down-arrow"></div>
        <div class="menu-item"><span>Activity</span></div>
        <div class="menu-item"><span>Settings</span></div>
        <div class="menu-item signout" {{action 'signout'}}><span>Log Out</span></div>
      </div>
    </div>
  {{else}}
    <ul class="not-logged-in">
      <div class="left">
        <div class="full-logo"></div>
      </div>
      <div class="right">
        <button class="take-action signup" {{action 'register'}}>{{t 'signup'}}</button>
        <button class="secondary signin" {{action 'signin'}}>{{t 'signin'}}</button>
      </div>
    </ul>
{{!--     {{else}}
      <li class='signin'>{{#link-to 'signin'}}{{t 'signin'}}{{/link-to}}</li>
      <li class='signup'>{{#link-to 'registration'}}{{t 'signup'}}{{/link-to}}</li>
    {{/if}} --}}
  {{/if}}
</nav>
<div class="nav-filler"></div>

