{{outlet}}

{{#if numSelected}}
  <div class="row">
    <h2 class="large-3 columns">{{numSelected}} selected</h2>
    <button class="large-3 columns" {{action 'removePhotos'}}>Delete</button>
  </div>
  {{/if}}

{{#each}}
  {{#if source}}
    <div class="gallery-photo">
      <img {{bind-attr src=thumbVersion}} {{action enlarge id}}>
      <div {{bind-attr class=":select selected"}} {{action select id}}></div>
    </div>
  {{/if}}
{{/each}}

{{#if loadingMore}}
<div class="spinner"></div>
{{else}}
<div class="spinner-placeholder"></div>
{{/if}}
