{{#modal-dialog action="close"}}
  {{!-- TODO: reduce copypasta between this and albumPicker.hbs/uploadModal.hbs
  --}}
  <div {{bind-attr class=":photo-picker-modal hasInput:has-input"}}>
    <div class="top-bar">
      <h3>{{t 'photos.addToNewAlbum'}}</h3>
    </div>
    {{#if hasInput}}
      <div class="sub-top-bar">
        {{input value=name placeholder=(ts 'albums.namePlaceholder')}}
      </div>
    {{/if}}
    <div class="bottom-bar">
      <div class="left">
        <span class="count-text">{{t "photos.selected" countBinding="selectedCount"}}</span>
      </div>
      <div class="right">
        <button class="secondary" {{action 'close'}}>{{t 'cancel'}}</button>
        <button class="take-action" {{action 'complete'}} {{bind-attr disabled=completeDisabled}}>{{t 'add'}}</button>
      </div>
    </div>
    <div class="nav-filler"></div>
    <div class="picker-content">
      {{render 'photosPicker'}}
    </div>
  </div>
{{/modal-dialog}}
