<div class="photo-cont">
  {{view 'image' image=firstState}}
  {{view 'image' image=secondState}}
  <div class="close" {{action 'toCollection'}}></div>
</div>
<div class="photo-options">
  <div class="photo-paginate">
    {{#if prevId}}
      <div class="left-arrow" {{action 'prevPhoto'}}></div>
    {{else}}
      <div class="blank-arrow"></div>
    {{/if}}
    {{#if nextId}}
      <div class="right-arrow" {{action 'nextPhoto'}}></div>
    {{else}}
      <div class="blank-arrow"></div>
    {{/if}}
  </div>
  <div class="photo-buttons">
    <div class="photo-button" {{action 'toggleMetadata'}}></div>
  </div>
</div>
<div class="photo-sidebar">
  <div class="photo-icon-cont">
    {{render 'userIcon' currentPhoto.owner}}
    <div class="photo-owner-name">{{currentPhoto.owner.name}}</div>
    <div class="photo-owner-username">{{currentPhoto.owner.username}}</div>
  </div>
</div>
