<div class="photo-cont">
  {{view 'image' image=firstState}}
  {{view 'image' image=secondState}}
  <div class="close" {{action 'toCollection'}}></div>
</div>
<div class="photo-options">
  <div class="photo-paginate">
    {{#if prevId}}
      <div class="left-arrow" {{action 'prevPhoto'}}></div>
    {{else}}
      <div class="blank-arrow"></div>
    {{/if}}
    {{#if nextId}}
      <div class="right-arrow" {{action 'nextPhoto'}}></div>
    {{else}}
      <div class="blank-arrow"></div>
    {{/if}}
  </div>
  <div class="photo-buttons">
    <div class="photo-button" {{action 'toggleMetadata'}}></div>
  </div>
</div>
<div class="photo-sidebar">
  <form class="modal-form">
    <div class="form-group photo-icon-cont">
      {{render 'userIcon' currentPhoto.owner}}
      <div class="photo-owner-name">{{currentPhoto.owner.name}}</div>
      <div class="photo-owner-username">{{currentPhoto.owner.username}}</div>
    </div>
    <div class="form-group">
      {{#form-label error=errors.name label=(ts 'photo.description')}}{{/form-label}}
      {{#if isDescriptionEdit}}
        {{textarea value=currentPhoto.description classBinding=":form-line :description-field" lostFocus="saveDescription"}}
      {{else}}
        <p {{action 'editDescription'}}>{{currentPhoto.description}}</p>
      {{/if}}
    </div>
    <div class="form-group">
      {{#form-label error=errors.name label=(ts 'photo.date')}}{{/form-label}}
      {{input value=currentPhoto.date classBinding=":form-line" }}
    </div>
  </form>
</div>
