{{#modal-dialog action="close"}}
  <div class="photo-picker">

    <nav class="mini-nav">
      <ul>
        <li {{bind-attr class=":photosPicker photosPickerIsActive:active"}}>
          <a href="javascript:void();"
            {{action "changeTab" "photosPicker"}}
          >{{t "moments"}}</a>
        </li>
        <li {{bind-attr class=":albumsPicker albumsPickerIsActive:active"}}>
          <a href="javascript:void();"
            {{action "changeTab" "albumsPicker"}}
          >{{t "albums"}}</a>
        </li>
        <li {{bind-attr class=":uploadPicker uploadPickerIsActive:active"}}>
          <a href="javascript:void();"
            {{action "changeTab" "uploadPicker"}}
          >{{t "upload"}}</a>
        </li>
      </ul>
    </nav>

    <nav class="footer-nav">
      <span class="sub-info">{{t "photos.selected" countBinding="selectedCount"}}</span>
      <button {{action 'add'}} {{bind-attr disabled=noneSelected}} class="take-action">Add</button>
      <button {{action 'close'}}>Cancel</button>
    </nav>

    <div class="nav-filler"></div>

    {{#if photosPickerIsActive}}
      {{render "photosPicker"}}
    {{/if}}

    {{#if albumsPickerIsActive}}
      {{render "albumsPicker"}}
    {{/if}}

    {{#if uploadPickerIsActive}}
      {{render "uploadPicker"}}
    {{/if}}

    <div class="nav-filler"></div>
  </div>

{{/modal-dialog}}