<div class="photo-cont">
  {{view 'image' image=firstState}}
  {{view 'image' image=secondState}}
  <div class="close" {{action 'toCollection'}}></div>
</div>
<div class="photo-options">
  <div class="photo-paginate">
    {{#if prevId}}
      <div class="left-arrow" {{action 'prevPhoto'}}></div>
    {{else}}
      <div class="blank-arrow"></div>
    {{/if}}
    {{#if nextId}}
      <div class="right-arrow" {{action 'nextPhoto'}}></div>
    {{else}}
      <div class="blank-arrow"></div>
    {{/if}}
  </div>
  {{#unless metadataDisabled}}
  <div class="photo-buttons">
    <div {{bind-attr class=":photo-button :toggle-metadata showMetadata:show-metadata"}} {{action 'toggleMetadata'}}></div>
  </div>
  {{/unless}}
</div>
{{#unless metadataDisabled}}
  {{#photo-sidebar photo=model}}{{/photo-sidebar}}
{{/unless}}