<div {{bind-attr class=":photos-container isSelectionMode:selection-mode"}}>
  <div {{bind-attr class=":nav-filler isSelectionMode::collapsed"}}></div>
  {{#if isSelectionMode}}
    <div class="selection-toolbar">
      <div class="left">
        <div class="num-selected">
          <span class="count-text">{{t "photos.selected" countBinding="selectedCount"}}</span>
        </div>
        <div class="share-container">
          <button class="take-action with-icon medium" {{action 'toggleShare'}}><span class="share-icon icon"></span>{{t 'share'}}</button>
          {{#if showShareMenu}}
            <ul class="triangle-border top">
              <li>{{t 'conversations'}}</li>
              <li>{{t 'facebook'}}</li>
              <li>{{t 'twitter'}}</li>
              <li>{{t 'email'}}</li>
            </ul>
          {{/if}}
        </div>
        <button class="take-action with-icon medium" {{action 'addToAlbum' selectedIds}}><span class="add-to-album-icon icon"></span>{{t 'album'}}</button>
      </div>
      <div class="right">
        <button class="secondary delete" {{action 'deletePhotos'}}></button>
        <button class="secondary" {{action 'cancel'}}>{{t 'cancel'}}</button>
      </div>
    </div>
  {{/if}}

  {{#each}}{{render 'thumbPhoto' this}}{{/each}}

  {{partial 'spinner'}}
</div>
{{outlet}}