<div {{bind-attr class=":photos-container isSelectionMode:selection-mode"}}>
  <div {{bind-attr class=":nav-filler isSelectionMode::collapsed"}}></div>
  {{#if showToolbar}}
    <div {{bind-attr class=":selection-toolbar removingToolbar:removing"}}>
      <div class="left">
        <div class="num-selected">
          <span class="count-text">{{t "photos.selected" countBinding="selectedCount"}}</span>
        </div>
        {{partial 'shareButton'}}
        <button class="take-action with-icon medium" {{action 'addToAlbum' selectedIds}}><span class="add-to-album-icon btn-icon"></span>{{t 'album'}}</button>
      </div>
      <div class="right">
        <button class="secondary icon-only delete" {{action 'deletePhotos'}}></button>
        <button class="secondary" {{action 'cancel'}}>{{t 'cancel'}}</button>
      </div>
    </div>
  {{/if}}
  {{#if errors.length}}
    <div {{bind-attr class=":toast-banner :toast-banner-error removingToolbar:removing-toolbar showToolbar:below-toolbar"}}>
      {{#each msg in errors}}
        <p>{{msg}}</p>
      {{/each}}
    </div>
  {{/if}}

  {{#each photo in this}}{{render 'thumbPhoto' photo}}{{/each}}

  {{partial 'spinner'}}
</div>
{{outlet}}