<div {{bind-attr class=":photos-container isSelectionMode:selection-mode"}}>
  <div {{bind-attr class=":nav-filler isSelectionMode::collapsed"}}></div>
  {{#if showToolbar}}
    <div {{bind-attr class=":selection-toolbar :alt-toolbar removingToolbar:removing"}}>
      <div class="left">

        <div class="num-selected">
          <span class="count-text">{{t "photos.selected" countBinding="selectedCount"}}</span>
        </div>

        <div class="bubble-menu-cont">
          {{#toolbar-item iconClass="toolbar-share-icon" label=(ts 'share') action="toggleShare"}}{{/toolbar-item}}
          {{#share-menu registerAs=shareMenu selectedIds=selectedIds}}{{/share-menu}}
        </div>

        <div class="toolbar-divider"></div>

        {{#toolbar-item iconClass="toolbar-album-icon" label=(ts 'photos.addToAlbum') action="addToAlbum" param="selectedIds"}}{{/toolbar-item}}

        <div class="toolbar-divider"></div>

        <div class="bubble-menu-cont">
          {{#toolbar-item iconClass="toolbar-download-icon" label=(ts 'download') action="toggleDownload"}}{{/toolbar-item}}
          {{#download-menu registerAs=downloadMenu selectedIds=selectedIds zipDownload="zipDownload" dropboxDownload="dropboxDownload"}}{{/download-menu}}
        </div>

      </div>
      <div class="right">
        {{#toolbar-item iconClass="toolbar-trash-icon" label=(ts 'delete') action="deletePhotos"}}{{/toolbar-item}}
        <button class="secondary" {{action 'cancel'}}>{{t 'cancel'}}</button>
      </div>
    </div>
  {{/if}}
  {{#if errors.length}}
    <div {{bind-attr class=":toast-banner :toast-banner-error removingToolbar:removing-toolbar showToolbar:below-toolbar"}}>
      {{#each msg in errors}}
        <p>{{msg}}</p>
      {{/each}}
    </div>
  {{/if}}

  {{#each photo in this}}{{render 'thumbPhoto' photo}}{{/each}}

  {{partial 'spinner'}}
</div>
{{outlet}}