<div class="row">
  <h1>Registration</h1>
</div>

<div class="row">
  {{input value=name placeholder="Name" class="custom-input-class"}}
</div>
<div class="row">
  {{input value=email type="email" placeholder="Email" class="custom-input-class"}}
</div>
<div class="row">
  {{input value=username placeholder="Username" class="custom-input-class"}}
</div>
<div class="row">
  {{input value=password type="password" placeholder="Password" class="custom-input-class"}}
</div>

<div class="row">
  <button {{action 'create' bubbles=false}}>Sign Up</button>
</div>