Registation

{{input value=name placeholder="Name"}}
{{input value=email type="email" placeholder="Email"}}
{{input value=username placeholder="Username"}}
{{input value=password type="password" placeholder="Password"}}

<button {{action 'create' bubbles=false}}>Create</button>
