<div class="row">
  <h1>Registration</h1>
</div>

<div class="row">
  <div class="large-6">
    {{#if error.name}}
      {{input value=name placeholder="Name" class="error"}}
      {{#each error.name}}
        <small class="error">{{this}}</small>
      {{/each}}
    {{else}}
      {{input value=name placeholder="Name"}}
    {{/if}}
  </div>
</div>

<div class="row">
  <div class="large-6">
    {{#if error.email}}
      {{input value=email type="email" placeholder="Email" class="error"}}
      {{#each error.email}}
        <small class="error">{{this}}</small>
      {{/each}}
    {{else}}
      {{input value=email type="email" placeholder="Email"}}
    {{/if}}
  </div>
</div>

<div class="row">
  <div class="large-6">
    {{#if error.username}}
      {{input value=username placeholder="Username" class="error"}}
      {{#each error.username}}
        <small class="error">{{this}}</small>
      {{/each}}
    {{else}}
      {{input value=username placeholder="Username"}}
    {{/if}}
  </div>
</div>

<div class="row">
  <div class="large-6">
    {{#if error.password}}
      {{input value=password type="password" placeholder="Password" class="error"}}
      {{#each error.password}}
        <small class="error">{{this}}</small>
      {{/each}}
    {{else}}
      {{input value=password type="password" placeholder="Password"}}
    {{/if}}
  </div>
</div>


<div class="row">
  <button {{action 'create' bubbles=false}}>Sign Up</button>
</div>