<div class="wizard-container full-screen-mob">
  <div class="wizard">
    {{#if hasInvitation}}
      {{partial 'inviteHeader'}}
    {{/if}}
    <div class="wizard-main">
      <div>
        <p>
          {{#if hasInvitation}}
            {{t 'signup.message.hasInvitation'}}
          {{else}}
            {{t 'signup.message'}}
          {{/if}}
        </p>
      </div>

      <div>
        {{input value=name placeholder=(ts 'signup.name') classBinding="error.name:error :name"}}
      </div>

      <div>
        {{input value=email placeholder=(ts 'signup.email') classBinding="error.email:error :email"}}
      </div>

      <div>
        {{input value=username placeholder=(ts 'signup.username') classBinding="error.username:error :username"}}
      </div>

      <div>
        {{input type="password" value=password placeholder=(ts 'signup.password') classBinding="error.password:error :password"}}
      </div>


      {{!-- TODO: remove inline style once we have proper mocks
      --}}
      <div>
        <button {{action 'signup' bubbles=false}} class="signup take-action" {{bind-attr disabled=submitDisabled}}>{{t 'signup.button.signup'}}</button>
      </div>

      {{!-- {{#if isFbInit}}
        <div class="row">
          <button {{action 'fbSignup' bubbles=false}}>{{t 'signup.button.facebook'}}</button>
        </div>
      {{/if}} --}}
    </div>
  </div>
</div>
