<div class="wizard-container full-screen-mob">
  <div class="wizard">
    {{#if hasInvitation}}
      {{partial 'inviteHeader'}}
    {{/if}}
    <div class="wizard-main">
      <div>
        <p>
          {{#if hasInvitation}}
            {{t 'signup.message.hasInvitation'}}
          {{else}}
            {{t 'signup.message'}}
          {{/if}}
        </p>
      </div>

      {{#if errors._messages.length}}
        <div>
          {{#each errors._messages}}
            <p class="hl-error">
              *{{this}}
            </p>
          {{/each}}
        </div>
      {{/if}}

      <div>
        {{input value=name placeholder=(ts 'signup.name') classBinding="errors.name:hl-error :name"}}
      </div>

      <div>
        {{input value=email placeholder=(ts 'signup.email') classBinding="errors.email:hl-error :email"}}
      </div>

      <div>
        {{input value=username placeholder=(ts 'signup.username') classBinding="errors.username:hl-error :username"}}
      </div>

      <div>
        {{input type="password" value=password placeholder=(ts 'signup.password') classBinding="errors.password:hl-error :password"}}
      </div>

      <div>
        <button {{action 'signup' bubbles=false}} class="signup take-action" {{bind-attr disabled=submitDisabled}}>{{t 'signup.button.signup'}}</button>
      </div>

      <div>
        <p class="footer-text">{{t 'signup.signInInstead'}} {{#link-to 'signin'}}{{t 'signin'}}{{/link-to}}</p>
      </div>

      <div>
        <p class="footer-text">{{t 'signup.boilerplate'}}</p>
      </div>

      {{!-- {{#if isFbInit}}
        <div class="row">
          <button {{action 'fbSignup' bubbles=false}}>{{t 'signup.button.facebook'}}</button>
        </div>
      {{/if}} --}}
    </div>
  </div>
</div>
