{{!-- TODO: find better way of filling this space
 --}}
<div class="nav-filler"></div>

{{#each errors}}
  <div class="row">
    <div class="large-12">
      <div data-alert class="alert-box alert">
        {{this}}
      </div>
    </div>
  </div>
{{/each}}

<div class="row">
  <div class="large-12">
    {{input type="password" value=password placeholder=(ts 'signin.password') required=true}}
  </div>
</div>

<div class="row">
  <div class="large-12">
    {{input type="password" value=confirmPassword placeholder=(ts 'fields.confirmPassword') required=true}}
  </div>
</div>

<div class="row" style="margin-bottom: 16px;">
  <button {{action 'resetPassword' bubbles=false}} class="signin take-action" {{bind-attr disabled=submitDisabled}}>{{t 'resetPassword.submit'}}</button>
</div>

