<div class="wizard-container intro-bg full-screen-mob">
  <div class="wizard">
    <div class="wizard-main with-nav-filler">
      <p>{{t 'resetPassword.message'}}</p>

      {{partial 'formErrors'}}

      <div>
        {{input type="password" value=password placeholder=(ts 'signin.password') required=true}}
      </div>

      <div>
        {{input type="password" value=confirmPassword placeholder=(ts 'fields.confirmPassword') required=true}}
      </div>

      <div>
        <button {{action 'resetPassword' bubbles=false}} class="signin take-action form-btn" {{bind-attr disabled=submitDisabled}}>{{t 'resetPassword.submit'}}</button>
      </div>
    </div>
  </div>
</div>