{{#modal-dialog action="close"}}
  {{!-- TODO: reduce copypasta between this and albumPicker.hbs
  --}}
  <div class="settings-modal">
    <div class="top-bar">
      <h3>{{t 'settings.title'}}</h3>
    </div>

    <form class="modal-form">
      <div class="form-group">
        {{#form-label error=errors.name label=(ts 'firstLastName')}}{{/form-label}}
        {{input type="text" value=user.name classBinding=":form-line errors.name:error" }}
      </div>
      <div class="form-group">
        {{#form-label error=errors.email label=(ts 'emailAddress')}}{{/form-label}}
        {{input type="email" value=user.email classBinding=":form-line errors.email:error" }}
      </div>
      <div class="form-group">
        {{#form-label error=errors.username label=(ts 'signup.username')}}{{/form-label}}
        {{input type="text" value=user.username classBinding=":form-line errors.username:error" }}
      </div>
      <div class="form-group">
        <label>{{t 'signup.password'}}</label>
        <div class="clearfix form-line">
          <button class="secondary right-btn" {{action 'changePassword'}}>{{t 'settings.changePasswordButton'}}</button>
          <div class="" style="overflow: hidden;">
            {{input type="password" value="dummyvalue" classBinding="error.login:error :login" disabled=true styleBinding="margin: 0;"}}
          </div>
        </div>
      </div>
    </form>

    <div class="bottom-bar">
      <div class="right">
        <button class="secondary" {{action 'close'}}>{{t 'cancel'}}</button>
        <button {{bind-attr class=":take-action waiting"}} {{bind-attr disabled=disableSave}} {{action 'save'}}>{{t 'save'}}</button>
      </div>
    </div>
  </div>
{{/modal-dialog}}