<div class="share">
  <div class="icon"><span>{{owner.initials}}</span></div>

  {{#if isPhoto}}
    {{partial 'sharedPhoto'}}
  {{/if}}

  {{#if isPhotoSet}}
    {{partial 'sharedPhotoSet'}}
  {{/if}}

  {{#if view.isSmallScreen}}
    <p class="rect-logo"></p>
  {{else}}
    {{#if isAddSuccess}}
      <p class="highlighted">{{t 'share.saveSuccess'}}</p>
    {{else}}
      {{#if canAdd}}
        <p>{{t 'share.savePhotoMessage'}}</p>
        <p><button class="take-action" {{action 'save'}}>{{t 'share.savePhoto'}}</button></p>
      {{/if}}
    {{/if}}
  {{/if}}

  {{#if view.showTagline}}
    <p class="tagline">
      {{t 'share.tagline'}}
    </p>
  {{/if}}

  {{#if isAndroidOrIos}}
    <p>
      {{render 'smartBadge'}}
    </p>
  {{else}}
    {{#if isLoggedOut}}
      <p>
        {{render 'iosBadge'}}{{render 'androidBadge'}}
      </p>
    {{/if}}
  {{/if}}

  {{#if isLoggedOut}}
    <div class="social-icons">
      <a href="https://www.instagram.com/heirloomhq" target="_blank"><span class="instagram-logo-gray social-icon"></span></a>
      <a href="https://www.facebook.com/heirloomhq" target="_blank"><span class="fb-logo-gray social-icon"></span></a>
      <a href="https://www.twitter.com/heirloomhq" target="_blank"><span class="twitter-logo-gray social-icon"></span></a>
      <a href="https://www.youtube.com/user/heirloomhq" target="_blank"><span class="youtube-logo-gray social-icon"></span></a>
    </div>
    <p class="footer">
      <span>Copyright &copy; 2014 <a href="mailto:hello@heirloom.net" target="_blank">Say Hello!</a></span>
    </p>
  {{/if}}
</div>
{{outlet}}