<p class="owner-tag"><span class="highlighted">{{owner.name}}</span> {{t 'share.photosMessage' countBinding=photos.length}}</p>
<div class="arrow-cont" {{action 'pageLeft'}}>
  <div class="left-arrow"></div>
</div>
<div class="shared-photo multi">
  {{#each photos}}{{render 'thumbPhoto' this unselectable=true}}{{/each}}
</div>
<div class="arrow-cont" {{action 'pageRight'}}>
  <div class="right-arrow"></div>
</div>