<p class="owner-tag"><span class="highlighted">{{owner.name}}</span> {{t 'share.photosMessage' countBinding=photos.length}}.</p>
<div class="arrow-cont" {{action 'pageLeft'}}>
  {{#if view.leftArrowEnabled}}
    <div class="left-arrow"></div>
  {{/if}}
</div>
<div class="shared-photo multi" {{bind-attr style=view.photoContainerStyle}}>
  {{#each photo in photos}}{{render 'thumbPhoto' photo unselectable=true}}{{/each}}
</div>
<div class="arrow-cont" {{action 'pageRight'}}>
  {{#if view.rightArrowEnabled}}
    <div class="right-arrow"></div>
  {{/if}}
</div>