<div class="wizard-container full-screen-mob">
  <div class="wizard">
    <div class="wizard-main">
      <div>
        <h2>{{t 'signin.message'}}</h2>
      </div>

      {{#if error.errors.base}}
        <div>
          <div class="alert-box alert large-12">
            {{error.errors.base}}
          </div>
        </div>
      {{/if}}

      <div>
        {{input value=login placeholder=(ts 'signin.login') classBinding="error.login:error :login" }}
      </div>

      <div>
        {{input type="password" value=password placeholder=(ts 'signin.password') classBinding="error.password:error :password" }}
      </div>

      <div>
        <button {{action 'signin' bubbles=false}} class="signin take-action">{{t 'signin.button.signin'}}</button>
      </div>

      {{!--
      {{#if isFbInit}}
        <div>
          <button {{action 'fbSignin'}}>{{t 'signin.button.facebook'}}</button>
        </div>
      {{/if}} --}}
    </div>
  </div>
</div>