<div class="wizard-container full-screen-mob">
  <div class="wizard">
    {{#if hasInvitation}}
      {{partial 'inviteHeader'}}
    {{/if}}
    <div class="wizard-main">
      <div>
        <p>
          {{#if hasInvitation}}
            {{t 'signin.message.hasInvitation'}}
          {{else}}
            {{t 'signin.message'}}
          {{/if}}
        </p>
      </div>

      {{#if errors._messages.length}}
        <div>
          {{#each errors._messages}}
            <p class="hl-error">
              *{{this}}
            </p>
          {{/each}}
        </div>
      {{/if}}

      <div>
        {{input type="email" value=login placeholder=(ts 'signin.login') classBinding="error.login:error :login" }}
      </div>

      <div>
        {{input type="password" value=password placeholder=(ts 'signin.password') classBinding="error.password:error :password" }}
      </div>

      <div>
        <button {{action 'signin' bubbles=false}} class="signin take-action" {{bind-attr disabled=submitDisabled}}>{{t 'signin.button.signin'}}</button>
      </div>

      <div>
        <p class="footer-text">{{t 'signin.signUpInstead'}} {{#link-to 'registration'}}{{t 'signup'}}{{/link-to}}</p>
      </div>

      {{!--
      {{#if isFbInit}}
        <div>
          <button {{action 'fbSignin'}}>{{t 'signin.button.facebook'}}</button>
        </div>
      {{/if}} --}}
    </div>
  </div>
</div>