{{#if cover_photo}}
  <img {{bind-attr src=cover_photo.mediumVersion}} alt="">
{{/if}}
{{#if view.unselectable}}
{{else}}
  <div {{bind-attr class=":select selected"}} {{action select bubbles=false}}></div>
{{/if}}

{{#if view.removable}}
  <div {{bind-attr class=":select"}} {{action removeAlbum model}}></div>
{{/if}}
<div class="title">{{name}}</div>
<div class="count">{{t "photos.count" countBinding="photo_count"}}</div>