<img {{bind-attr src=photoUrl}} {{bind-attr style=photoStyle}}alt="">
{{#if isViewable}}
  {{#if view.unselectable}}
  {{else}}
    <div {{bind-attr class=":select selected"}} {{action 'select' bubbles=false}}></div>
  {{/if}}

  {{#if view.removable}}
    <div {{bind-attr class=":remove-photo-icon"}} {{action 'removePhoto' model}}></div>
  {{/if}}
{{/if}}