<div {{bind-attr class=":photo selected"}} {{action enlarge}}>
  <img {{bind-attr src=thumbVersion}} alt="">
  <div {{bind-attr class=":select selected"}} {{action select bubbles=false}}></div>
</div>