{{#modal-dialog action="close"}}
  {{!-- TODO: reduce copypasta between this and albumPicker.hbs
  --}}
  <div class="upload-modal">
    <div class="top-bar">
      <h3>{{t 'upload.modal.title'}}</h3>
    </div>
    <div class="bottom-bar">
      <div class="left">
        <span class="count-text"><span class="alternate">{{successCount}} /</span> {{t 'photos.count' countBinding='totalFiles'}}</span>
      </div>
      <div class="right">
        <button class="secondary" {{action 'close'}}>{{t 'cancel'}}</button>
        <button class="take-action" {{bind-attr disabled=readyToAdd}} {{action 'complete'}}>{{t 'upload.modal.addButton'}}</button>
      </div>
    </div>
    <div class="nav-filler"></div>
    <div class="picker-content dropzone"></div>
  </div>
{{/modal-dialog}}